@font-face {
  font-family: "PPPangramSans-Bold";
  src: url(../font/PPPangramSans-Bold.woff);
}
@font-face {
  font-family: "PPPangramSans-CompactExtralightReclined";
  src: url(../font/PPPangramSans-CompactExtralightReclined.woff);
}
@font-face {
  font-family: "PPPangramSans-CompactRegular";
  src: url(../font/PPPangramSans-CompactRegular.woff);
}
@font-face {
  font-family: "PPPangramSans-CompactThinItalic";
  src: url(../font/PPPangramSans-CompactThinItalic.woff);
}
@font-face {
  font-family: "PPPangramSans-CompressedExtrabold";
  src: url(../font/PPPangramSans-CompressedExtrabold.woff);
}
@font-face {
  font-family: "PPPangramSans-CompressedMediumReclined";
  src: url(../font/PPPangramSans-CompressedMediumReclined.woff);
}
@font-face {
  font-family: "PPPangramSans-CondensedThin";
  src: url(../font/PPPangramSans-CondensedThin.woff);
}
@font-face {
  font-family: "PPPangramSans-ExtraboldItalic";
  src: url(../font/PPPangramSans-ExtraboldItalic.woff);
}
@font-face {
  font-family: "PPPangramSans-Light";
  src: url(../font/PPPangramSans-Light.woff);
}
@font-face {
  font-family: "PPPangramSans-Medium";
  src: url(../font/PPPangramSans-Medium.woff);
}
@font-face {
  font-family: "PPPangramSans-NarrowExtraboldItalic";
  src: url(../font/PPPangramSans-NarrowExtraboldItalic.woff);
}
@font-face {
  font-family: "PPPangramSans-NarrowExtralightReclined";
  src: url(../font/PPPangramSans-NarrowExtralightReclined.woff);
}
@font-face {
  font-family: "PPPangramSans-NarrowSemibold";
  src: url(../font/PPPangramSans-NarrowSemibold.woff);
}
@font-face {
  font-family: "PPPangramSans-NarrowSemiboldItalic";
  src: url(../font/PPPangramSans-NarrowSemiboldItalic.woff);
}
@font-face {
  font-family: "PPPangramSans-Semibold";
  src: url(../font/PPPangramSans-Semibold.woff);
}
@font-face {
  font-family: "PPPangramSans-SlimExtralight";
  src: url(../font/PPPangramSans-SlimExtralight.woff);
}
@font-face {
  font-family: "PPPangramSans-SlimMediumReclined";
  src: url(../font/PPPangramSans-SlimMediumReclined.woff);
}
@font-face {
  font-family: "PPPangramSans-SlimSemiboldItalic";
  src: url(../font/PPPangramSans-SlimSemiboldItalic.woff);
}
@font-face {
  font-family: "PPPangramSans-Thin";
  src: url(../font/PPPangramSans-Thin.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F5F5F5;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.header-page {
  position: relative;
  background: #181818;
  height: 124px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.wrapper-header {
  width: 85%;
  height: 100%;
  margin: 0 auto;
}

.menu {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-item {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 32px;
}

.catalog {
  width: 527px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item {
  font-size: 15px;
  font-weight: 500;
  color: #FFF;
  font-family: "PPPangramSans-Medium";
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block-contItem {
  width: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block-contLink {
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-phone {
  font-size: 18px;
  color: #FFF;
  line-height: 20px;
  font-weight: bold;
  font-family: "Unbounded", sans-serif;
  margin-right: 30px;
  margin-left: 60px;
}

.btn-header {
  border: 2px solid #3C3C3C;
  border-radius: 8px;
  background: none;
  width: 149px;
  height: 44px;
  color: #FFF;
  font-size: 13px;
  line-height: 20px;
  font-family: "PPPangramSans-Bold";
  cursor: pointer;
}

.main-page {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 100%;
  border-end-end-radius: 36px;
  background-image: url(../img/fon1.png);
  background-position: top;
  background-repeat: no-repeat;
}

.title-main {
  font-size: 89px;
  font-weight: bold;
  line-height: 95px;
  color: #FFF;
  font-family: "Unbounded", sans-serif;
  text-align: center;
  margin-top: 170px;
}

.subtitle-main {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: #FFF;
  font-family: "PPPangramSans-Medium";
  text-align: center;
  margin-top: 40px;
  margin-bottom: 120px;
}

.hr-main {
  margin: 0 auto;
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.2);
}

.menu-listMain {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 156px;
}
.menu-listMain li {
  display: flex;
}

.number-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 17px;
  margin-top: 8px;
  width: 26px;
  height: 26px;
  background: #FFF;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 500;
  line-height: 10px;
  font-family: "Unbounded", sans-serif;
}

.text-listMain {
  color: #FFF;
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
  font-family: "PPPangramSans-Medium";
}

.aplication-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 271px;
  margin: 0 auto;
  background: #FFF;
  border-radius: 20px;
  padding: 60px 70px 70px 70px;
}

.title-aplication {
  font-size: 22px;
  font-weight: bold;
  line-height: 29px;
  font-family: "Unbounded", sans-serif;
}

.submenu-aplication {
  display: flex;
  justify-content: space-between;
}

.date-block {
  width: 504px;
  height: 76px;
  display: flex;
  justify-content: space-between;
  font-family: "PPPangramSans-Medium";
}

.date-input {
  width: 242px;
  height: 76px;
  background: #F5F5F5;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  border: 0;
  border-radius: 10px;
  padding: 28px 30px 28px 60px;
}

.date-input:focus {
  outline: none;
}

.date-img {
  position: absolute;
  margin-top: 30px;
  margin-left: 30px;
}

.date-img2 {
  position: absolute;
  margin-top: 30px;
  margin-left: 290px;
}

.elemants-aplication {
  margin: 0 45px;
  width: 380px;
  display: grid;
  -moz-column-gap: 26px;
       column-gap: 26px;
  row-gap: 14px;
  grid-template-columns: repeat(3, 1fr);
}
.elemants-aplication div {
  display: flex;
  align-items: center;
}

.element-chexbox {
  margin-right: 14px;
  width: 20px;
  height: 20px;
}

.text-elementAplication {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  font-family: "PPPangramSans-Medium";
}

.btn-aplication {
  width: 201px;
  height: 76px;
  padding: 28px 34px;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #FFF;
  font-family: "PPPangramSans-Bold";
  border: none;
  border-radius: 10px;
  background: var(--main, linear-gradient(67deg, #9F7437 9.19%, #E3D293 92.03%));
}

.product-page {
  margin-top: 255px;
  margin-bottom: 120px;
}

.wrapper-product {
  width: 1320px;
  margin: 0 auto;
}

.title-product {
  width: 633px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-product h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 62px;
  font-family: "Unbounded", sans-serif;
}

.btn-product {
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  font-family: "PPPangramSans-Bold";
  width: 124px;
  height: 44px;
  border-radius: 8px;
  border: 2px solid black;
}

.category-product {
  width: 1018px;
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}

.categoty-linkProduct {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  height: 100%;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  background: white;
  cursor: pointer;
}
.categoty-linkProduct img {
  margin-right: 20px;
}

.categoty-linkProduct:hover {
  background: #EAEAEA;
  color: black;
}

.active-linkProduct {
  background: #1F1F1F;
  color: white;
}

.items-product {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.item-product {
  width: 424px;
  height: 483px;
  border-radius: 10px;
  background: white;
  padding: 24px 24px 50px 50px;
}

.city-itemProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: bold;
  line-height: 9px;
  background: #F0F0F0;
  border-radius: 6px;
  width: 59px;
  height: 27px;
}

.image-itemProduct {
  margin: 15px 0 40px;
  text-align: center;
}

.title-itemProduct {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
}

.subtitle-itemProduct {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 229px;
  height: 20px;
  margin-top: 30px;
  margin-bottom: 34px;
}
.subtitle-itemProduct img {
  margin-right: 15px;
}

.consumption-itemProduct {
  display: flex;
  align-items: center;
}

.power-itemProduct {
  display: flex;
  align-items: center;
}

.text-consumption, .text-power {
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #707070;
}

.hr-itemProduct {
  height: 1px;
  width: 100%;
  background: #EBEBEB;
  margin-bottom: 30px;
}

.sublock-itemProduct {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-itemProduct {
  width: 135px;
  height: 40px;
  border-radius: 6px;
  border: none;
  color: white;
  background: linear-gradient(67deg, #9F7437 9.19%, #E3D293 92.03%);
}

.price-itemProduct {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  color: #ABABAB;
}

.span-price {
  font-size: 24px;
  color: black;
}

.subblock-informationProduct {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 210px;
}

.title-informationProduct {
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
}

.subtitle-infomationProduct {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #9F9F9F;
}

.reservation-page {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 764px;
  border-end-end-radius: 36px;
  background-image: url(../img/fon2.png);
  background-position: top;
  background-repeat: no-repeat;
}

.wrapper-reservation {
  width: 1320px;
  height: 524px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.title-reservation {
  font-size: 48px;
  font-weight: bold;
  line-height: 62px;
  color: white;
}

.widget-reservation {
  display: flex;
  justify-content: space-between;
}

.textInf-reservation {
  width: 760px;
  height: 392px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainText-reservation {
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
  color: white;
}

.comment-reservation {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: white;
}

.formsFilling-reservation {
  width: 424px;
  height: 336px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forms-reservation {
  height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.forms-reservation input {
  padding: 28px 30px;
  border: none;
  outline: 0;
}
.forms-reservation input, .forms-reservation .btn-reservation {
  width: 100%;
  height: 76px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.btn-reservation {
  background: none;
  border: 2px solid white;
  color: white;
  font-weight: bold;
}

.agreement-reservation {
  display: flex;
}
.agreement-reservation p {
  color: #B6B6B6;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.checkbox-agreement {
  margin-top: 3px;
  margin-right: 14px;
  width: 20px;
  height: 20px;
}

.advertising_instruction-page {
  margin: 120px 0;
}

.wrapper-adv_instr {
  margin: 0 auto;
  width: 1320px;
  height: 1344px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.advertising-page {
  width: 100%;
  height: 768px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-adv {
  font-size: 48px;
  font-weight: bold;
  line-height: 62px;
}

.widget-adv {
  display: flex;
  justify-content: space-between;
}

.adv-slide {
  width: 648px;
  height: 584px;
  border-radius: 20px;
  background: white;
}

.subblock-slideAdv {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.title-slideAdv {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 22px;
}

.subtext-slideAdv {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #989898;
}

.arrow-linkAdv {
  width: 54px;
  height: 54px;
  border: 2px solid #EBEBEB;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instruction-page {
  width: 100%;
  height: 456px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-instr {
  font-size: 48px;
  font-weight: bold;
  line-height: 62px;
  text-align: center;
}

.widget-instr {
  display: flex;
  justify-content: space-between;
}

.instr-slide {
  width: 424px;
  height: 272px;
  border-radius: 20px;
  background: white;
  padding: 50px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

.icon-instrSlide {
  height: auto;
}

.inf-instrSlide {
  width: 234px;
}

.title-instrSlide {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 22px;
}

.subtitle-instrSlide {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #989898;
}

.promotions-page {
  position: relative;
  height: 820px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-image: url(../img/fon3.png);
  background-position: top;
  background-repeat: no-repeat;
}

.wrapper-promotions {
  margin: 0 auto;
  width: 1320px;
  height: 580px;
  display: flex;
  justify-content: space-between;
}

.sidebar-promotions {
  width: 648px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.title-promotions {
  font-size: 48px;
  font-weight: bold;
  line-height: 62px;
}

.infText-promotions {
  width: 100%;
  height: 468px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subtutle-prormotions {
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
}

.comment-promotions {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  opacity: 0.8;
}

.aside-promotion {
  width: 536px;
  height: 572px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-promotions {
  width: 100%;
  height: 448px;
  border-radius: 22px;
  background: white;
}

.iconeAvto-promotions {
  position: absolute;
  margin-left: 446px;
  margin-top: -30px;
}

.textInf-promotions {
  padding-left: 40px;
  margin-top: 40px;
  height: 94px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titleItem-promotions {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
}

.subtitleItem-promotions {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #9F9F9F;
}

.switching-itemsPromotions {
  width: 224px;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-promotions {
  display: flex;
  justify-content: space-between;
  align-content: inherit;
  width: 122px;
  height: 54px;
}

.switch-promotions {
  width: 54px;
  height: 54px;
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.1882352941);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-promotions:hover {
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.1882352941);
}

.span-numberSlide {
  font-size: 26px;
  font-weight: bold;
  line-height: 40px;
  color: white;
  padding-bottom: 10px;
}

.numberSlide-promotions {
  font-size: 20px;
  font-weight: bold;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.1882352941);
  width: 35px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper-services_reasons {
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 120px;
  width: 1320px;
  height: 1530px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ourServices-page {
  width: 100%;
  height: 760px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-services {
  font-size: 48px;
  font-weight: bold;
  line-height: 62px;
}

.items-services {
  display: flex;
  justify-content: space-between;
}

.item-services {
  width: 424px;
  height: 638px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.infIcon-services {
  width: 364px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-services {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
}

.arrowLink-services {
  width: 54px;
  height: 54px;
  border: 2px solid rgba(0, 0, 0, 0.06);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reasonsOrder-page {
  width: 1131px;
  height: 650px;
}

.title-reasonsOrder {
  font-size: 48px;
  font-weight: bold;
  line-height: 62px;
}

.reasons-block {
  display: flex;
  justify-content: space-between;
}

.reasons-items {
  height: 456px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-reasons {
  width: 459px;
  display: flex;
  justify-content: space-between;
}

.sidebar-reasons {
  width: 112px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 20px;
}

.aside-reasons {
  width: 307px;
  height: 95px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-reasons {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
}

.subtitle-reasons {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #989898;
}

.rental_infomation-page {
  padding-top: 120px;
  padding-bottom: 120px;
  height: 1460px;
  width: 100%;
  margin: 0 auto;
  background-image: url(../img/fon4.png);
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper-rental_information {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.different_budget {
  display: flex;
  justify-content: space-between;
}

.different_budget {
  display: flex;
  justify-content: space-between;
}

.text-different_budget {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-different_budget {
  font-size: 48px;
  font-weight: bold;
  line-height: 62px;
  color: white;
}

.subblock-different_budget {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subtitle-defferent_budget {
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
  color: white;
}

.comment-defferent_budget {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #9F9F9F;
}

.rental_in_Moscow {
  display: flex;
  justify-content: space-between;
}

.text-rental_in_Moscow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-rental_in_Moscow {
  font-size: 48px;
  font-weight: bold;
  line-height: 62px;
  color: white;
}

.subtitle-rental_in_Moscow {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #9F9F9F;
}

.hr-rental_in_Moscow {
  height: 1px;
  width: 100%;
  background: rgba(255, 255, 255, 0.16);
}

.information-rental_in_Moscow {
  display: flex;
  justify-content: space-between;
  width: 748px;
}

.item-rental_in_Moscow {
  display: flex;
}

.text-rental_in_Moscow {
  font-size: 13px;
  font-weight: bold;
  line-height: 24px;
  color: white;
  margin-left: 18px;
  margin-top: -7px;
}

.footer-rental {
  margin: 0 auto;
  background: white;
  width: 1855px;
  height: 280px;
  border-radius: 0px 0px 36px 36px;
}

.wrapper-footer_rental {
  display: grid;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  width: 70%;
}

.items-footer_rental {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper-questions {
  margin: 0 auto;
  margin-top: 120px;
  width: 58%;
  display: flex;
  justify-content: space-between;
}

.title-questions {
  font-size: 48px;
  font-weight: bold;
  line-height: 62px;
}

.subblock-questions {
  margin-top: 40px;
  margin-bottom: 60px;
  display: grid;
  gap: 30px;
}

.text-questions {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #9F9F9F;
}

.number-questions {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
}

.form-questions {
  display: grid;
  gap: 40px;
}

.inp-questions {
  width: 448px;
  display: flex;
  gap: 14px;
  flex-direction: column;
  justify-content: space-between;
}
.inp-questions input {
  height: 76px;
  padding: 28px 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.btn-questions {
  height: 76px;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  border-radius: 10px;
  background: #1F1F1F;
  color: white;
}

.agreement-questions {
  display: flex;
  gap: 14px;
}

.checkbox-questions {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-top: 5px;
}

.text-agreement_questions {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #9e9e9e;
}

.footer-page {
  position: relative;
  height: 534p;
  margin: 0 auto;
  margin-top: -4px;
  background-image: url(../img/fon5.png);
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper-footer {
  position: relative;
  padding: 100px 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-left: auto;
}

.link-footer {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.titleLink-footer {
  color: white;
  font-size: 40px;
  font-weight: 400;
}

.schedule_btn-footer {
  display: flex;
  align-items: center;
  gap: 30px;
}

.schedule-footer {
  display: grid;
  gap: 10px;
}

.phone-footer {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  color: white;
}

.hoursWork-footer {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  color: #AFAFAF;
}

.btn-footer {
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  background: none;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  padding: 12px 20px;
}

.adress_mail-footer {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin: 36px 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}
.adress_mail-footer a {
  color: #AFAFAF;
}
.adress_mail-footer img {
  margin-right: 8px;
}

.adress_mail-footer a:hover {
  color: white;
}

.adress-footer {
  text-align: center;
  width: 100%;
  float: right;
}

.mail-footer {
  float: right;
}

.iconsLink-footer {
  width: 53px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: right;
}

.menu-footer {
  width: 55%;
  display: grid;
  gap: 45px;
}

.section-footer {
  display: flex;
  justify-content: space-between;
}

.hr_menu-footer {
  height: 1px;
  width: 100%;
  background: white;
  opacity: 0.14;
}

.block_menu-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titleLink_menu {
  color: white;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
}

.link-menu_footer {
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
}
.link-menu_footer a {
  color: #AFAFAF;
}

.link-menu_footer a:hover {
  color: white;
}

.comment-footer {
  display: flex;
  justify-content: space-between;
  color: #7E7E7E;
}

.display_none {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 800px) {
  .display_none {
    display: block;
  }
  .header-page {
    width: 100%;
    height: 70px;
    border-radius: 0;
  }
  .logo-item {
    font-size: 20px;
    font-weight: 400;
  }
  .catalog, .contact {
    display: none;
  }
  .item-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
  }
  .item-link img {
    width: 36px;
    height: 36px;
  }
  .item-linkformMini {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }
  .icon-menu img {
    width: 23px;
    height: 16px;
  }
  .itemLink-img {
    display: none;
  }
  .main-page {
    width: 100%;
    height: 100%;
    background-image: url(../img/fon1Mini.png);
    background-size: contain;
  }
  .wrapper-main {
    max-width: 800px;
    min-width: 320px;
    width: 100%;
  }
  .title_block-main {
    margin-left: 20px;
    width: 280px;
    -moz-text-align-last: left;
         text-align-last: left;
  }
  .title-main {
    font-size: 32px;
    line-height: 40px;
    margin-top: 40px;
  }
  .subtitle-main {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
  }
  .menu-listMain {
    position: relative;
    min-width: 280px;
    max-width: auto;
    width: auto;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
  }
  .text-listMain {
    font-size: 15px;
    line-height: 22px;
    width: 180px;
  }
  .aplication-main {
    border-radius: 0;
    padding: 40px 20px;
    min-height: 545px;
    max-height: 400px;
    height: auto;
  }
  .title-aplication {
    font-size: 18px;
    line-height: 27px;
  }
  .submenu-aplication {
    flex-direction: column;
    gap: 34px;
  }
  .date-block {
    flex-direction: column;
    height: auto;
    width: auto;
  }
  .date-img2 {
    position: absolute;
    margin-top: 105px;
    margin-left: 30px;
  }
  .elemants-aplication {
    row-gap: 14px;
    grid-template-columns: repeat(2, 1fr);
    grid-column: repeat(3, 1fr);
  }
  .date-block {
    width: 100%;
    gap: 12px;
  }
  .date-input {
    width: 100%;
  }
  .btn-aplication {
    width: 100%;
  }
  .product-page {
    margin: 40px 0;
    margin-left: 20px;
  }
  .wrapper-product {
    min-width: 280px;
    max-width: 760px;
    width: 100%;
  }
  .title-product {
    min-width: 280px;
    max-width: 760px;
    width: 92%;
  }
  .title-product h1 {
    font-size: 18px;
    line-height: 27px;
  }
  .category-product {
    position: relative;
    max-width: auto;
    width: auto;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .categoty-linkProduct {
    padding: 22px;
    height: 64px;
    font-size: 13px;
    margin-right: 14px;
  }
  .categoty-linkProduct img {
    margin-right: 14px;
  }
  .items-product {
    gap: 14px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}/*# sourceMappingURL=style.css.map */